html{
    background-color: lightgray;
    font-family: 'Philosopher';
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Header sekcija*/

.navbar{
    display: flex;
    color: white;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 23px;
    background-color: white;
    width: 100%;
    position: fixed;
    z-index:100;
    padding: 10px;
}

.vrh{
    border-style:solid;
    border-radius: 10px;
    margin-left: 10px;
    opacity: 60%;
    background: rgb(30, 152, 196);
    margin-right: auto;
    padding: 5px;
 
}

#elementi-liste-horizontalno{
    display:flex;
}


.navbar li{
    margin-right: 5px; 
    padding: 5px;
    /*ovako dobijamo razmak izmedju elemenata liste*/
}

.decor{
    background: rgb(30, 152, 196);
    border-style:solid; 
    border-radius: 10px;
    opacity: 60%;
}

a, a:visited{
    text-decoration: none;
    color: white;
}

a:hover {
    color: darkblue;
}










    


