html{
 font-family: "Life savers";

}

p{
    font-size: 20px;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Header sekcija*/

.navbar{
    display: flex;
    color: white;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    background-color: white;
    width: 100%;
    position: fixed;
    z-index:1;
    padding: 5px;
    border-style: solid;
    border-color: rgb(222, 229, 255);
    border-top:none;
    border-left: none;
    border-right: none;
}

.vrh{
    border-style:solid;
    border-radius: 10px;
    margin-left: 10px;
    opacity: 60%;
    background: rgb(30, 152, 196);
    margin-right: auto;
    padding: 8px;
 
}

#elementi-liste-horizontalno{
    display:flex;
}


.navbar li{
    margin-right: 1px; 
    padding: 8px;
    /*ovako dobijamo razmak izmedju elemenata liste*/
}

.decor{
    background: rgb(30, 152, 196);
    border-style:solid; 
    border-radius: 10px;
    opacity: 60%;
}

.navbar a{
    color: white;
}
.navbar a,a:visited{
    text-decoration: none;
}
a:hover {
    color: darkblue;
}

/*Koncept sekcija*/

.uvod{
    padding-top: 100px;
    margin-bottom: 25px;
    padding-bottom: 900px;
    background-image: url("../images/Balanced-Diet-1.jpg");
    background-size: cover;
    text-align: center;
    position: relative;
    text-align: center;
}


.koncept{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 247, 247, 0.75);
    width: 40%;
    padding: 10px;
    border-radius: 20px;
}

.koncept h1,p,h2{
    opacity: 1.0 !important;
    font-weight: bold;
}


/*Zablude sekcija*/

#zablude{
    background-color: rgb(240, 233, 233);
    margin-bottom: 40px;
    font-weight: bold;
}
.slike-za-fleks{
    background-color: rgb(240, 233, 233);
    background-size: cover;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1500px;
    margin: auto;
}

.block{
    margin: 25px 37px;
    padding-bottom: 20px;
    background-color:rgb(125, 197, 223);
    color: white;
    text-align: center;
    border-radius: 20px;
    font-size: 15.5px;
}
.block figcaption{
    margin-top: 10px;
    text-align: center;
}
.block img{
    width: 370px;
    height: 270px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#zablude-h1{
    text-align: center;
    padding-top: 15px;
    font-style: italic;
    opacity: 0.7;
    padding-bottom: 35px;
}

/*Tablica kalorija*/


#tablica-kalorija{
    margin-right: 25px;
    padding-bottom: 65px;
    margin-left: 25px;
    display: flex;
    padding-top: 65px;
}

#tablica-kalorija h1{
    margin-bottom: 25px;
}

.text-segment{
    margin-right: auto;
    width: 1100px;
}

.text-segment ul{
    font-size: 20px;
    margin: 25px 25px;
}


.text-segment h2{
   opacity: 60%;
   background: rgb(125, 210, 241);
   padding-top: 10px;
   padding-left: 7px;
   height: 50px;
   color: white;
}

.text-segment a{
    text-decoration: none;
}

#italic{
    font-style: italic;
}

.reference img{
    width: 150px;
    height: 150px;
}

.ref-jedan{
    display: flex;
    margin-top: 20px;
    margin-left: 25px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: rgb(198, 237, 237);
}

.text-ref{
    font-size: 20px;
    margin-left: 25px;
}

.text-ref p{
    margin-top: 25px;
    margin-bottom: 25px;
}

.link-ref{
    color: rgb(89, 195, 231);
    font-weight: bold;
}

.image-segment img{
    width: 73%;
}

/*Footer*/


footer{
    margin-top: 100px;
    background-color: rgb(253, 248, 248);
    height: 250px;
    font-size: 15px;
    opacity: 0.6;
    border-style: solid;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-color: rgb(228, 232, 232);
    color: blue;
}

.footer-segment{
    padding-top: 125px;
    margin-left: 25px;
    display: flex;
}

#marg{
    margin-right: auto;
}

.right ul{
    display: flex;
    font-size: 20px;
    padding-right: 25px;
    list-style: none;
}

.right li{
    padding-right: 20px;
}

footer a,a:visited{
    text-decoration: none;
}

footer a{
    color: blue;
    border-radius: 10px;
    padding: 8px;
    border-style: solid;
}